* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    flex-direction: column; 
    min-height: 100vh; 
}

.main-content {
    flex: 1; 
}

.wiki-container {
    text-align: center;
    color: white;
    z-index: 1;
    padding: 30px;
    width: 70%;
}

.wiki-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.wiki-container p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.usage-step {
    background-color: #e0f7fa; 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #333; 
}

.usage-step h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.usage-step p,
.usage-step ul {
    font-size: 1.2rem;
    line-height: 1.6;
}

.usage-step ul {
    list-style-type: none; 
    padding-left: 0; 
}

.usage-step pre {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: monospace;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: #2b3e50;
    color: white;
    font-size: 1rem;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b3e50;
    z-index: -1; 
}

.link {
    color: #00796b; 
    text-decoration: none; 
    font-weight: bold; 
}

.link:hover {
    text-decoration: underline; 
}

.button {
    display: inline-block;
	margin: 10px;
    padding: 15px 30px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 25px; 
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s; 
	background-color: #007bff;
    color: white;
}

.button:hover {
    transform: scale(1.05); 
	background-color: #0056b3;
}

.ccrates-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #24292f; 
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
}

.ccrates-button:hover {
    background-color: #0366d6; 
}

.ccrates-menu-button {
    position: absolute;
    top: 80px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #24292f; 
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
}

.ccrates-menu-button:hover {
    background-color: #0366d6; 
}
.config-box {
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 20px;
	margin-left: 120px;
    border-radius: 10px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: monospace;
    width: 100%;
    max-width: 900px;
    overflow-x: auto;
    text-align: left;  
    white-space: pre-wrap; 
}

.code {
    color: #000000;  
}

.comment {
    color: #32a852;  
}